## macOS files
**/.DS_Store
**/.*

## PyCharm Files
*.out
*.toc
/.idea/

## Project-specific Files
/bin/*
/priv/*


script/py/s.py
etc/junk/test.sh
script/py/s.py
script/sh/1730106044.txt
script/sh/1730106090.txt
script/sh/1730106186.txt
script/sh/1730106269.txt
script/sh/1730106278.txt
script/sh/1730106320.txt
script/sh/1730106333.txt
script/sh/1730106378.txt
script/sh/1730106470.txt
script/sh/5
etc/junk/teset
etc/junk/teset
/script/packages
